@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: #EAC67A;
  text-decoration: none
}

a:hover {
  color: white;
}

body {
  background-color: #18121E;

  color: white;
  font-family: Palatino;
}

button, input[type=submit]{
  background: #d9aa34;
  background-image: -webkit-linear-gradient(top, #d9aa34, #28222E);
  background-image: -moz-linear-gradient(top, #d9aa34, #28222E);
  background-image: -ms-linear-gradient(top, #d9aa34, #28222E);
  background-image: -o-linear-gradient(top, #d9aa34, #28222E);
  background-image: linear-gradient(to bottom, #d9aa34, #28222E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
  border: 0px solid transparent;
}

button:hover, input[type=submit]:hover{
  background: #f0b11d;
  background-image: -webkit-linear-gradient(top, #f0b11d, #38323E);
  background-image: -moz-linear-gradient(top, #f0b11d, #38323E);
  background-image: -ms-linear-gradient(top, #f0b11d, #38323E);
  background-image: -o-linear-gradient(top, #f0b11d, #38323E);
  background-image: linear-gradient(to bottom, #f0b11d, #38323E);
  text-decoration: none;
}



canvas {
  border: 2px solid black;
  background-color: white;
  height: 370px;
  width: 670px;
}

header {
  background-color: #AF4B24;
}

form {
  margin-left: auto;
  margin-right: auto;
  padding-right: 250px;
  width: 400px;
  text-align: right;
}

input[type=submit]{
  margin-right: 30px;
  margin-left: auto;
  /*margin-right: auto;*/
}

nav {
  background-color: #AF4B24;
  margin-bottom: 10px;
  margin-top: -25px;
  height: 70px;

}

#root {
  background-color: #18121E;
}

.nav-lobby {
  float: left;
  width: 70px;
  padding: 20px;
  margin-left: 60px;
  margin-top: 0px;
  font-size: 25px;
}

.nav-logout {
  position: static;
  margin-top: -85px;
  margin-right: 60px;
  z-index: 6;
  float: right;
}

.nav-title {
  margin-right: 130px;
  font-size: 3em;
  padding-top: 10px;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.canvas-object {
  margin-top: -60px;
  margin-bottom: 60px;
  float: left;
  min-width: 700px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.goal {
  font-size: 48px;
  margin: 0px;
}

.lobby-divs {
  background-color: #233237;
  color: white;
  border-radius: 20px;
  margin: 1%;
  padding: 5px;
}

.lobby-container {

}



.my-drawing {
  cursor: url('./pencil.png'), auto;
  padding: 8px;
  border: 5px solid #AF4B24;
}

/* yellow #EAC67A
   red #AF4B24
   gunmetal #233237
   navy blue #18121E
   */

.open-games-container {
  width: 47%;
  float: left;
  min-height: 500px;
  min-width:300px;
}



.opponent-drawing {
  padding: 10px;
}

.scoreboard-container {

  position: absolute;
  z-index: 5;
  margin-top: 10px;
  margin-left: 20px;
}

.scoreboard {
  position: absolute;
  border: 3px dashed #AF4B24;
  background-color: white;
  color: black;
  min-width: 195px;
}

.start-game {
  width: 98%;

}

.winner {
  color: green;
}

.winning-drawing {
  padding: 2px;
  border: 10px solid green;
}

@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
  .nav-title { 
    font-size: 1.2em; 
    margin-right: 90px;
    padding: 20px;
  }

  .nav-lobby {
    float: left;
    width: 70px;
    padding: 20px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 18px;
  }

  .nav-logout {
    position: static;
    margin-top: -60px;
    margin-right: 2px;
    font-size: 14px;
    z-index: 6;
    float: right;
  }

  .open-games-container {
    width: 96%;
    float: left;
    min-height: 500px;
    min-width:300px;
  }

  .canvas-object {
    margin-top: -60px;
    margin-bottom: 60px;
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  canvas {
    border: 2px solid black;
    background-color: white;
    height: 370px;
    width: 670px;
    margin-left: auto;
    margin-right: auto;
  }

  .scoreboard-container {
    position: absolute;
    z-index: 5;
    margin-top: 100px;
    margin-left: 0px;
    

  }

  .scoreboard {
    position: absolute;
    border: 1px dashed #AF4B24;
    background-color: white;
    color: black;
    font-size:.5em;
    min-width: 195px;
    
  }

}